div.findmeon-wrap {
	font-family:arial,sans-serif;
	font-size:14px;
	font-weight:normal;
	padding-left:18px;
}
.findmeon-wrap fieldset {
	border:1px dotted #666666;
	clear:both;
	margin-top:20px;
	padding:0 18px 18px;
}
.findmeon-wrap fieldset legend {
	background:#F9F9F9 none repeat scroll 0 0;
	font-size:18px;
}
.findmeon_option {
	display:block;
	font-weight:bold;
	margin-top:12px;
}


.iconator label input {margin-top:30px;}
#clearShortUrlsLabel {
	font-size:11px;
	height:14px;
	line-height:14px;
}
#clearShortUrls {margin-right:4px;}
.share-findmeon {
	background:transparent url('../images/findmeon-trans.png') no-repeat scroll 0 -346px;
}

.demo-sexy {
	background:transparent url('../images/demo_sexy.png') no-repeat scroll 0 0; bottom: 0;
}
.demo-shiny {
	background:transparent url('../images/demo_shiny.png') no-repeat scroll 0 0; bottom: 0;
}
.demo-dim {
	background:transparent url('../images/demo_dim.png') no-repeat scroll 0 0; bottom: 0;
}
.demo-32 {
	background:transparent url('../images/demo_32.png') no-repeat scroll 0 0; bottom: 0;
}
.demo-16 {
	background:transparent url('../images/demo_16.png') no-repeat scroll 0 0; bottom: 0;
}
.demo-self {
	background:transparent url('../images/demo_self.png') no-repeat scroll 0 0; bottom: 0;
}
.demo-blank {
	background:transparent url('../images/demo_blank.png') no-repeat scroll 0 0; bottom: 0;
}

.share-care {
	background:transparent url('../images/findmeon-trans.png') no-repeat scroll 0 0;
}
.share-care-old {
	background:transparent url('../images/findmeon-trans.png') no-repeat scroll 0 -746px;
}
.share-love {
	background:transparent url('../images/findmeon-trans.png') no-repeat scroll 0 -1146px;
}
.share-wealth {
	background:transparent url('../images/findmeon-trans.png') no-repeat scroll 0 -1535px;
	padding:50px 0 0 25px !important;
}
.share-enjoy {
	background:transparent url('../images/findmeon-trans.png') no-repeat scroll 0 -1895px;
}
.bgimg {
	display:block;
	float:left;
	margin:10px 0 0;
	padding:50px 0 0 11px;
	width:195px;
}
#xtrastyle {
	height:120px;
	width:100%;
}
.findmeon-donations {
	background:#FFDDDD;
	border:1px dotted #666666;
	margin:20px 0;
	padding:18px;
	text-align:center;
	width:240px;
}
.findmeon-donations p {text-align:left;}
.findmeon-donations h2 {margin-top:0;}
div.findmeon-success {
	background:#B4EFAB;
	border:1px solid #8BE57E;
	color:#337129;
	font-size:10px;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin:35px 0 0;
	padding:3px 10px 0;
	width:97%;
}
div.findmeon-error {
	background:#FEB1B1;
	border:1px solid #FE9090;
	color:#820101;
	font-size:10px;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin:35px 0 0;
	padding:3px 10px 0;
	width:97%;
}
div.findmeon-information {
	background:#A3D0FF;
	border:1px solid #6AB3FF;
	color:#004185;
	font-size:10px;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin:35px 15px 0 0;
	padding:3px 10px 0;
	width:97%;
}
div.findmeon-warning {
	background:#F0FEB1;
	font-size:10px;
	border:1px solid #D5D458;
	color:#7F7200;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin:35px 0 0;
	padding:3px 10px 0;
	width:97%;
}
.findmeon-warning a, .findmeon-information a, .findmeon-error a, .findmeon-success a {text-decoration:underline;}
.findmeon-warning a {color:#6F6300;}
.findmeon-error a {color:#CB0000;}
.findmeon-information a {color:#1B466F;}
.findmeon-success a {color:#1D5F12;}



.clear {
	clear:both;
}
.clearbig {
	clear:both;
	height:15px;
}
.hidden {
	display:none;
}
.floright {
	clear:none;
	float:right;
	margin:0 0 0 10px;
}
.floleft {
	clear:none;
	float:left;
	margin:0 10px 0 0;
}
.padding {
	padding:10px;
	overflow:hidden;
}
div#findmeon-col-left {
	float:left;
	margin:40px 10px 0 0;
}
#findmeon-col-left label {
	margin:0 12px 0 0;
}
ul#findmeon-sortables li {
	list-style-type:none;
	margin:0 300px 20px 0;
}
ul#findmeon-sortables {
	list-style-type:none;
}
div.box-mid-head {
	background:transparent url('../images/flo-head.jpg') repeat-x scroll 0 0;
	border:1px solid #DBDBDB;
	cursor:move;
	height:27px;
	text-align:right;
	width:100%;
}
div.box-mid-head h2 {
	color:#21759B;
	float:left;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	height:24px;
	line-height:20px;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
}
div.box-mid-head a:hover {
	border:medium none;
}
div.box-mid-head input {
	border:1px solid #CCCCCC;
}
div.box-mid-body {
	background:#F8F8F8 url('../images/white-pix.jpg') repeat-x scroll center top;
	border-bottom:1px solid #DBDBDB;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	display:table;
	width:100%;
}
div.box-mid-body h3 {
	display:block;
	font-size:16px;
	font-weight:bold;
	margin:8px 0;
}
div#findmeon-col-right {
	clear:none;
	float:left;
	margin:40px 0 0;
	position:absolute;
	right:1.3%;
	width:256px;
}
div.box-right {
	float:left;
	margin-bottom:20px;
}
div.box-right-head {
	background:transparent url('../images/flo-head.jpg') repeat-x scroll 0 0;
	border:1px solid #DBDBDB;
	float:left;
	height:27px;
	width:256px;
}
div.box-right-head h3 {
	color:#21759B;
	float:left;
	font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size:14px;
	font-style:normal;
	font-weight:normal;
	height:24px;
	line-height:20px;
	margin:0;
	padding:3px 0 0 10px;
	text-align:left;
}
div.box-right-body {
	background:#F8F8F8 url('../images/white-pix.jpg') repeat-x scroll center top;
	border-bottom:1px solid #DBDBDB;
	border-left:1px solid #DBDBDB;
	border-right:1px solid #DBDBDB;
	float:left;
	width:256px;
}
div.box-right-body h4 {
	display:block;
	font-size:16px;
	font-weight:bold;
	margin:8px 0;
}
div.box-right-body ul {
	list-style-image:none;
	list-style-position:inside;
	list-style-type:none;
	margin:0;
}
div.box-right-body ul li strong {
	color:#454545;
	font-weight:bold;
}
span.findmeon-rating {
	background:transparent url('../images/icons/nostar.png') no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	margin:0 0 -2px;
	width:80px;
}
span.findmeon-rating-1 {
	background:transparent url('../images/icons/1star.png') no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	margin:0 0 -2px;
	width:80px;
}
span.findmeon-rating-2 {
	background:transparent url('../images/icons/2star.png') no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	margin:0 0 -2px;
	width:80px;
}
span.findmeon-rating-3 {
	background:transparent url('../images/icons/3star.png') no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	margin:0 0 -2px;
	width:80px;
}
span.findmeon-rating-4 {
	background:transparent url('../images/icons/4star.png') no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	margin:0 0 -2px;
	width:80px;
}
span.findmeon-rating-5 {
	background:transparent url('../images/icons/5star.png') no-repeat scroll 0 0;
	display:inline-block;
	height:16px;
	margin:0 0 -2px;
	width:80px;
}
div.box-right-body ol {
	counter-reset:cnt;
	list-style-type:none;
	margin:0;
}
div.box-right-body ol li {
	counter-increment:cnt;
	line-height:10px;
	margin:22px 0;
}
div.box-right-body ol li:before {
	color:#D5D5D5;
	content:counter(cnt, decimal-leading-zero);
	font-family:"Courier New",monospace;
	font-size:26px;
	font-weight:bold;
	width:20px;
}
div.box-right-body ol li:hover:before {
	color:#21759B;
}
div.box-right-body ol li a {
	color:#57717F;
	display:block;
	margin:-14px 0 0 33px;
	text-decoration:none;
}
div.box-right-body ol li:hover a {
	color:#21759B;
	font-weight:bold;
}
div.box-right-body ol li span {
	clear:none;
	color:#57717F;
	float:right;
	margin:-15px 0 0;
}
div.box-right-body ol li:hover span {
	color:#D54E21;
}
div.bnav {
	float:right;
	height:27px;
	width:80px;
}
div.bnav img {
	cursor:pointer;
	float:right;
	margin-right:5px;
	margin-top:5px;
}
div.inputfield {
	clear:both;
	float:left;
	height:24px;
	margin-bottom:10px;
	width:100%;
}
div.inputfield label {
	float:left;
	width:140px;
}
div.inputfield input {
	border:1px solid #CCCCCC;
	float:left;
	height:18px;
	padding:2px 0 0 2px;
	width:198px;
}
div.inputfield select {
	border:1px solid #CCCCCC;
	float:left;
	height:22px;
}
div.inputfield div {
	clear:right;
	float:left;
	height:22px;
	width:100px;
}
div.inputfield input#field3, div.inputfield input#field4, div.inputfield input#field5, div.inputfield input#field6 {
	border:medium none;
	float:left;
	height:22px;
	margin:0 4px 0 0;
	padding:0;
	width:22px;
}
div.inputfield input.longfield {
	border:1px solid #CCCCCC;
	float:left;
	height:18px;
	padding:2px 0 0 2px;
	width:338px;
}
div.dialog-box-succes {
	background:#B4EFAB;
	border:1px solid #8BE57E;
	color:#337129;
	float:left;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin-bottom:20px;
	padding:3px 10px 0;
	width:97.5%;
}
div.dialog-box-error {
	background:#FEB1B1;
	border:1px solid #FE9090;
	color:#820101;
	float:left;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin-bottom:20px;
	padding:3px 10px 0;
	width:97.5%;
}
div.dialog-box-warning {
	background:#F0FEB1;
	border:1px solid #D5D458;
	color:#7F7200;
	float:left;
	font-size:10px;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin-bottom:10px;
	padding:3px 10px 0;
	width:97.5%;
}
div.dialog-box-information {
	background:#A3D0FF;
	border:1px solid #6AB3FF;
	color:#004185;
	float:left;
	font-size:10px;
	font-weight:bold;
	height:24px;
	line-height:20px;
	margin-bottom:10px;
	padding:3px 10px 0;
	width:97.5%;
}
img.dialog-ico {
	float:left;
	margin:2px 10px 0 0;
}
div.dialog-left {
	float:left;
}
div.dialog-box-information a {
	color:#004185;
	text-decoration:underline;
}
div.dialog-box-information a:hover {
	color:#21759B;
}
div.dialog-box-warning a {
	color:#AF9C00;
	text-decoration:underline;
}
div.dialog-box-warning a:hover {
	color:#AF9C00;
}
div.dialog-right {
	float:right;
}
img.del-x {
	cursor:pointer;
	margin-top:7px;
}
img.box-icons {
	clear:none;
	float:left;
	margin:5px 0 0 7px;
}
div.findmeon-donate-button {
	width:100%;
}
div.findmeon-donate-button a.findmeon-dew {
	display:block;
	margin:10px 0;
}
div.findmeon-donate-button a.findmeon-beer {
	display:block;
	margin:10px 0 0 2px;
}
ul.findmeon-adslots {
	margin:0;
	padding:0;
}
ul.findmeon-adslots li.findmeon-medium-banner {
	margin:0 0 -10px;
	padding:0;
}
ul.findmeon-adslots li.findmeon-small-banner {
}
ul.findmeon-adslots li.findmeon-medium-banner a {
	background:#F2F2F2;
	color:#79939F;
	display:block;
	font-family:verdana,sans-serif;
	font-weight:bold;
	height:60px;
	line-height:60px;
	margin:0 0 10px 1px;
	outline-color:#79939F;
	outline-style:solid;
	outline-width:1px;
	text-align:center;
	text-decoration:none;
	width:234px;
}
ul.findmeon-adslots li.findmeon-small-banner a {
	background:#F2F2F2;
	clear:none;
	color:#79939F;
	display:block;
	float:left;
	font-family:verdana,sans-serif;
	font-size:9px;
	font-weight:normal;
	height:31px;
	line-height:31px;
	margin:0 10px 10px -2px;
	outline-color:#79939F;
	outline-style:solid;
	outline-width:1px;
	text-align:center;
	text-decoration:none;
	width:88px;
}
.shebang-info {
	cursor:pointer;
	left:5px;
	position:relative;
	top:3px;
}
.dtags-info {
	cursor:pointer;
	left:5px;
	position:relative;
	top:3px;
}
#defaulttags {
	width:40%;
}
#tag-info {
	background:#B3C3EF none repeat scroll 0 0;
	border:1px solid #8BA2DF;
	font-style:italic;
	line-height:20px;
	padding:10px;
	overflow:hidden;
}
.dtags-close {
	color:#4f659f;
	font-style:normal;
	float:right;
	display:inline;
	text-decoration:none;
	cursor:pointer;
}

.findmeonlogo {
	text-indent:-999em;
	width:264px;
	height:47px;
	background:url('../images/findmeon-logo.png') no-repeat 0 0;
}
div.box-right-body ul.credits {
	list-style-type:none;
	list-style-position:outside;
}
div.box-right-body ul.credits li {
	background:url(../images/icons/star-small.png) no-repeat left 2px;
	padding-left:17px;
	line-height:19px;
	font-size:11px;
}
div.box-right-body ul.credits li a {
	text-decoration:none;
}


div#divFeedityWidget span {
	display:none !important;
}
div#divFeedityWidget ul {
	counter-reset:cnt !important;
	list-style-type:none !important;
	margin:0 !important;
}
div#divFeedityWidget ul li {
	counter-increment:cnt !important;
	line-height:10px !important;
	margin:22px 0 !important;
}
div#divFeedityWidget ul li:before {
	color:#D5D5D5 !important;
	content:counter(cnt, decimal-leading-zero) !important;
	font-family:"Courier New",monospace !important;
	font-size:26px !important;
	font-weight:bold !important;
	width:20px !important;
}
div#divFeedityWidget ul li:hover:before {
	color:#21759B !important;
}
div#divFeedityWidget ul li a {
	color:#57717F !important;
	display:block !important;
	margin:-14px 0 0 33px !important;
	text-decoration:none !important;
}
div#divFeedityWidget ul li:hover a {
	color:#21759B !important;
	font-weight:bold !important;
}